
body{
 background-color: #f8f9fa!important;
}


.filtro  ul{
              display: inline-flex;
            }
          .filtro  li {
              list-style-type: none;
              padding-left: 10px;
            }

           .filtro .flex-container {

              display: flex;

              flex-flow: row wrap;


              /*  justify-content: space-around;*/

              padding: 0;
              margin: 0;
              list-style: none;
            }

           .filtro .flex-item {
              background: tomato;
              padding: 5px;
              width: 200px;
              height: 150px;
              margin-top: 10px;
              line-height: 150px;
              color: white;
              font-weight: bold;
              font-size: 3em;
              text-align: center;
            }


.parallax {
  /* The image used */
  /*background-image: url("https://images.unsplash.com/photo-1540393866204-76e22cfcef22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");*/
  /* background-image: url("https://images.unsplash.com/photo-1559692984-576c4679298e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");*/
  /*background-image: url("https://cdn.pixabay.com/photo/2015/09/23/22/24/tattoo-expo-954465_960_720.jpg");*/
  /*background-image: url("https://cdn.pixabay.com/photo/2015/09/23/22/24/tattoo-expo-954465_960_720.jpg");*/
/*background-image: url("https://images.unsplash.com/photo-1513078094721-e7b6e0394a6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");*//*
background-image: url("https://images.unsplash.com/photo-1482329033286-79a3d24413b4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");*/

/*background-image: url("https://images.unsplash.com/photo-1521322714240-ee1d383eab62?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
*/
/* height: 450px;*/
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 10px 50px;
}


.parallax .menu-top a{
  color: #fff;
  font-family: 'Kulim Park', sans-serif;
  margin-right: 30px;
  font-size: 19px;
  margin-bottom: 40px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

}

.dropdown-menu-2 a{
margin-bottom: 0px!important;
 margin-right: 0px!important;
     margin-right: 30px;
     font-size: 17px!important;
}


.dropdown-menu-2 > a:hover {
    background-color: green!important;
    background-image: none!important;
}


.dropdown-menu-2 {
    position: absolute;
    top: 42%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    /* padding: .5rem 0; */
    margin: .125rem 0 0;
    font-size: 1rem;
    /* color: #212529; */
    text-align: center;
    list-style: none;
    background-color: #754026;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.55rem;
}


.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #754026;
}


.encontre-servico{
  font-family: 'Kulim Park', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFF;
  font-weight: 400;
  font-size: 1.5em;
  display: inline block;
  margin: 0px auto 2%;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.encontre-servico{
  padding: 48px 79px;
  background: rgba(0,0,0,0.8);
  text-align: center;
}


.btn-experimente{
  background-color: green;
  font-weight: 700;
  color: #fff!important;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
  padding: 8px 30px;
  font-family: 'Kulim Park', sans-serif;
}


.cadastre-se-mobile{
 /*  font-family: 'Kulim Park', sans-serif;
 font-weight: 700;*/
}

.btn-cadastre-se{
 background-color: #fff;
 font-weight: 700;
 color: #000000;
 font-size: 17px;
 text-transform: uppercase;
 box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
 padding: 8px 25px;
 font-family: 'Kulim Park', sans-serif;
}


.vaga-destaque{
  background-color: green;
  color: #fff;
  border-radius: 10px;
  padding: 0px 15px;
}


.encontre-servico .busca{
  border-radius: 20px;
  background-color: #FFF;
  border: 3px solid #754026;
  color: green;
  font-weight: bold;
}

.encontre-servico .onde{
  background-color: #111111;
  border: 0px solid rgba(255,255,255,.9);
  color: #FFF;
  font-weight: bold;
}


.slider-cursos .titulo{
  margin: 0;
  font-family: 'Roboto Slab',serif;color: #FDE06B;
  text-transform: uppercase;
  font-size: 16px;font-weight: 800;
}


.slider-cursos .subtitulo{
  font-size: 14px;
  margin-bottom: 20px;
}


.slider-cursos .data{
  font-weight: 700;
  font-size: 14px;
  font-family: 'Roboto Slab',serif;
}




.slider-cursos .btn{
  background: #FDE06B;
  display: inline-block;
  text-align: center;
  height: 44px;
  line-height: 42px;
  border-bottom: 5px solid #F0D464;
  color: #2b2b2b;
  width: 70%;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
}


.slider-cursos .bg{
 padding: 45px 20px;
 background: rgba(0,0,0,.6);
 text-align: center;
 height: 254px;
}


.btn-veja-mais{
  display: inline-block;
  padding: 12px 50px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Roboto Slab',serif;
  font-size: 14px;
  font-weight: 700;
}

.bd-placeholder-img {
 font-size: 1.125rem;
 text-anchor: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

@media (min-width: 768px) {
 .bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

:root {
 --jumbotron-padding-y: 2rem;
}

.jumbotron {
 padding-top: var(--jumbotron-padding-y);
 padding-bottom: var(--jumbotron-padding-y);
 margin-bottom: 0;
 background-color: #343434;
}
@media (min-width: 768px) {
 .jumbotron {
  padding-top: calc(var(--jumbotron-padding-y) * 1);
  padding-bottom: calc(var(--jumbotron-padding-y) * 1);
}
}

.jumbotron p:last-child {
 margin-bottom: 0;
}

.jumbotron-heading {
 font-weight: 300;
}

.jumbotron .container {
 max-width: 58rem;
}

.parallax .container {
 max-width: 58rem;
}


footer {
 padding-top: 3rem;
 padding-bottom: 3rem;
}

footer p {
 margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.vagas a{
  color: #000;
}

.voltar a{
  color: #000;
  font-weight: bold;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: -1px;
}


.vaga .titulo{
  font-weight: 600;
  font-family: 'Kulim Park', sans-serif;
}



.vaga{
 font-family: 'Kulim Park', sans-serif;
}

.contratando{
 color: #FFF;
 position: relative;
 background-color: #090b0c;
 padding: 15px 0;
 font-weight: 300;
 text-align: center;
}




.encontre-servico .busca {
  border-radius: 20px;
  background-color: #FFF;
  border: 3px solid #754026;
  color: green;
  font-weight: bold;
  /*width: 60%;*/
}



.contratando .titulo{
  font-family: 'Kulim Park', sans-serif;
  color: #FFF;
  position: relative;
  background-color: #090b0c;
  padding: 40px 0;
  font-weight: 300;
}

a:hover{

  text-decoration: none;
  
}


.box-item{
  font-family: 'Kulim Park', sans-serif;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #754026;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-radius: 0px;
  height: 250px;
}


.box-item .subtitulo{
  text-transform: uppercase;
}

.blog .text{
  background: rgba(0,0,0,.6);
  padding-top: 30px;
  height: 100%!important;
}


.blog .text h3{
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
 font-family: 'Kulim Park', sans-serif;
 color: #fff;
 padding: 25px;
}


.blog .text .category{
 color:#754026;
 text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
 font-weight: 700;
 font-size: 24px;
}


.blog{
  -webkit-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
  -moz-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
  box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
}



.vagas-destaque .titulo{
  text-transform: uppercase;
  font-family: 'Kulim Park', sans-serif;
}



.vagas-destaque .vaga{
  font-family: 'Kulim Park', sans-serif;
  /*-webkit-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);
box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.59);*/
}



.vagas-destaque .img{
 height: 140px;
 background-size: cover;
 background-repeat: round;
}

.vagas-destaque .slick-track{
  padding: 0px 0px 40px;
}


.cadastre{
  animation-duration: 10s;
  animation-delay: 2s;
}

.conteudo-pesquisa {
  font-family: 'Kulim Park', sans-serif;
  height: 0px;
  -webkit-transition-property: height; /* Safari */
  -webkit-transition-duration: 3s; /* Safari */
  transition-property: height;
  transition-duration: 3s;
}


@media only screen and (max-width: 600px) {


  .jumbotron {
   padding: 15px;
 }



 .encontre-servico .busca {
  border-radius: 20px;
  background-color: #FFF;
  border: 3px solid #754026;
  color: green;
  font-weight: bold;
  /*width: 80%;*/
}

.encontre-servico {
  padding: 9px 0px;
  background: rgba(0,0,0,0.6);
  text-align: center;
  margin: 0px;
}

h2{
  font-size: 25px;
}

.contratando {
  padding: 15px 15px;
}

.box-item {
  font-family: 'Kulim Park', sans-serif;
  border-top: 5px solid #ffffff;
  border-bottom: none;
  position: relative;
  /* padding-bottom: 20px; */
  margin-bottom: 0px;
  border-radius: 0px;
  height: auto;
  padding: 35px 0px!important;
} 

}




